/* CSS that should only be loaded on the homepage */

#new_award p + p {
	font-size: 1.2em;
}

#the_award {
	min-height: 80px;
	margin-bottom: 40px;
}

#award {
	padding-right: 5px;
	float: left;
	display: inline-block;
}


/* Board of directors Styles ============================================================================ */
#directors {
	margin-top: 60px;
	padding: 0 40px;
	letter-spacing: 0;
	clear: both;
}

.director_container > ul {
	margin-left: 20px;
	width: 205px;
	float: left;

}

.director_container > ul:first-child {
	margin-left: 0;
}

.name,
.phone_number,
.email_address,
.work {
	letter-spacing: 0;
	line-height: 1.3em;	
	font-size: 1.4em;
}

.position {
	color: #B55600;
	font-family: 'droid_sansbold', sans-serif;
	font-size: 1.7em;
}

.name {
	font-size: 1.8em;
	font-family: 'droid_serifbold', sans-serif;
}

.post-author,
.email_address {
	margin-bottom: 10px;
}

.work {
	font-size: 1.2em;
}

h4 {
	line-height: 1.2em;	
}

.director_container {
	padding-top: 25px;
}


/* Awards styling */
.awards {
	font-family: 'droid_sansregular', sans-serif;
	font-size: 1.4em;
	line-height: 1.2em;
}

.awards li {
	margin-bottom: 10px;
}

/* Upcoming Events styling */
.upcoming_post > h4 {
	font-size: 1.7em;
}

.upcoming_post p {
	margin-bottom: 10px;
	font-size: 1.3em;
}

.upcoming-date {
	padding: 2px 4px;
	margin-right: 5px;
	background: #003366;
	color: #f7f7f7;
	font-family: 'droid_sansbold';
	font-size: 0.8em;
	letter-spacing: 0.1em;
	display: inline-block;
	position: relative;
	top: -2px;
}

	/* If there is an img in front of an H4, have less margin-top */
img + h4 {
	margin-top: 10px;
}

.links_logo {
	margin: 0 auto;
	margin-top: 20px;
	display: block;
}




/* Clearfix */
#directors:after,
#new_award:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
#directors,
#new_award {
	display: inline-block;
}
 
html[xmlns] #directors,
html[xmlns] #new_award {
	display: block;
}
 
* html #directors,
* html #new_award {
	height: 1%;
}
