/* This is the style for any POSTS that a person may click on */
#main {
	padding-bottom: 0;
}

h5 {
	padding-top: 10px;
	font-size: 1.8em;
}

.entry-footer {
	margin: 5px 0;
}

.entry-content {
}

.main_column p {
	font-size: 1em;
}

.post p {
	font-size: 1.6em;
}

.main_column ul li, aside ul li {
	padding-left: 0;
	background: none;
	font-size: 1em;
}

/* Gallery fix */
.ngg-galleryoverview div {
	margin-bottom: 0;
}

/* Other Posts */
#post_list li {
	margin-bottom: 10px;
	font-size: 1.4em;
}

.current_post {
	padding-left: 15px;
	background: url(../images/right_arrow.png) no-repeat 5px 2px;
}

/* Border between each comment */
#comments-list {
	border-top: 1px dashed #333;
}

#comments {
	padding-bottom: 100px;
	}

#comments div {
	margin-bottom: 5px;
}

.comment-content {
	margin-top: 10px;
	font-size: 1.4em;
}

#comments-list > ul, #respond {
	width: 528px;
	margin-bottom: 40px;
}

.comment {
	padding-top: 30px;
	border-bottom: 1px dashed #333333;
}


/* User's icon and name */
.vcard {
	margin-bottom: 5px;
}

.vcard > img {
	display: none;
}

.vcard > span {
	font-size: 1.4em;
	font-family: 'droid_sansbold', sans-serif;
	display: block;
}
	/* end */


/* Meta data of the comment */
.comment-meta {
	margin-bottom: 10px;
}

.comment-reply-link {
	margin-top: 20px;
/* 	text-align: right; */
}
\
.logged-in-as {
	margin-bottom: 20px;
}

label {
	display: block;
}


input[type="text"],
textarea {
	border: 2px inset #EEE;
}

textarea {
	width: 522px;
	resize: none;
}

.main_column .form-allowed-tags {
	width: 80%;
	margin-bottom: 20px;
	font-size: 1.2em;
}


/* The REPLY */
.depth-1 {
	padding-bottom: 30px;
}

.depth-1 > ul {
	padding-left: 40px;
	padding-bottom: 30px;
	margin-top: 30px;
	background: #f0f0f0;
}

.children li {
	border: 0;
	background: ;
}

/* Post a comment */
#reply-title {
	margin-bottom: 5px;
	font-family: 'droid_sansbold', sans-serif;
	font-size: 2.0em;
	position: relative;
}

#reply-title a {
	letter-spacing: 0;
	top: 8px;
	right: 100px;
	position: absolute;
}

#reply-title #cancel-comment-reply-link {
	top: 8px;
	right: 0;
}

/* Search Field */
#search-inputs {
	margin-bottom: 20px;
}

/* Post a Comment Button */
#submit {
	padding: 5px 20px;
	color: #333;
	font-family: 'droid_sansbold';
	font-size: 1.4em;
	border-radius: 10px;
}

.required {
	padding-left: 5px;
	display: inline-block;
}

/* Error Handling Styles */
.comment-notes {
	position: relative;
	overflow: visible;
}

.error_box {
	width: 170px;
	margin-top: 20px;
	top: 100%;
	position: absolute;
	right: 0;
	z-index: 200;
}

.error_box .author_error,
.error_box .email_error,
.error_box .comment_error,
.comment_error_log {
	padding: 10px 0;
	color: rgb(222, 0, 16);
	display: none;
	background: url(../images/error.png) no-repeat left center;
	font-size: 1em;
}

.comment_error_log {
	padding-left: 25px;
}

.author_error,
.email_error,
.comment_error {
	text-align: right;
}

.author_error strong,
.email_error strong,
.comment_error strong {
	color: #333;
}




